<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29859401550-m1gbl9si4pqqmlvubaaakjdbm032arnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29859401550-m1gbl9si4pqqmlvubaaakjdbm032arnk</string>
	<key>API_KEY</key>
	<string>AIzaSyBSmveOvYeNYaY6oEKA2I9xHEtdgKBFteo</string>
	<key>GCM_SENDER_ID</key>
	<string>29859401550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Meroglu.wheatherapp</string>
	<key>PROJECT_ID</key>
	<string>weatherapp-70830</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherapp-70830.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29859401550:ios:b9e405db2a6cf0d065981f</string>
	<key>DATABASE_URL</key>
	<string>https://weatherapp-70830.firebaseio.com</string>
</dict>
</plist>